@import "null_style";

@import "slider";

@import "canvas";

@import "video";

@import "printSquares";

/*--------------------*/

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.block {
    text-align: center;
    margin: 3rem auto;
}

.conteiner {
    text-align: center;
    margin: 2rem 0rem;
}
/*Сверстать 2 блока (1-Главный, 2-Дочерний). Разместить блок 2 внутри блока 1 строго посередине*/
.css {
    border: 1px solid #000;
    margin: auto;
    width: 64rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cssB2 {
    width: 16rem;
    height: 10rem;
    border: 1px solid #000;
}
/*---------------------------------*/

/*выпадающие меню*/

body.lock {
    overflow: hidden;
}

.header__body {}

.styleButton {
    position: fixed;
    width: 8rem;
    height: 10rem;
    overflow: auto;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background-color: #9D0A00;
    border: 1px solid #000;
}

.buttonElem1 {
    top: -100%;
    left: 15%;
}

.buttonElem2 {
    top: -100%;
    right: 15%;
}

.buttonElem3 {
    top: -100%;
    left: 45%;
}

.buttonElem1.active {
    top: 1%;
    left: 15%;
}

.buttonElem2.active {
    top: 1%;
    right: 15%;
}

.buttonElem3.active {
    top: 1%;
    left: 45%;
}

.soket{
    border: 1px solid #000;
}

@media (max-width: 768px) {}